<h1>All Articles</h1>

<ul id='articles'>
    <%= render @articles %>
</ul>
<br/>
<% if logged_in? %>
    <%= link_to 'Create a New Article', new_article_path, class: 'new_article' %>
<% end %>
<br />
<%= link_to 'Show all Tags', tags_path %>
<%= link_to 'Show all Authors', authors_path %>
